@import '@styles/_responsive.scss';

.layout {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__point-bg {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: var(--color-primary);
  }

  &__container {
    max-width: 904px;
    width: 70%;
    height: 100%;
    z-index: 1;
    margin-top: 30px;
  }

  main {
    margin-top: 3%;
  }
}

@media (max-width: #{$breakpoint-tablet}) {
  .layout {
    main {
      margin-top: 0;
    }
  }
}
