.checkbox {
  display: flex;
  position: relative;
  cursor: pointer;
  user-select: none;
  align-items: center;
  input {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    &:checked ~ .checkbox__checkmark {
      background: var(--color-primary);
      svg {
        path {
          stroke: var(--color-off-white);
        }
      }
    }
  }

  &__checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 20px;
    height: 20px;
    background: var(--color-off-white);
    border: 2px solid var(--color-primary);
    margin-right: 12px;
    svg {
      path {
        stroke: var(--color-primary);
        stroke-width: 3px;
      }
    }
  }
}
