@import '@styles/_responsive.scss';

.history-item {
  width: 100%;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid var(--color-line);
    color: var(--color-body);
    font: var(--font-bold-medium);
    b {
      color: var(--color-title-active);
    }
    &-income {
      margin-right: 12px;
    }
  }
  table {
    width: 100%;
  }

  &__menu {
    width: 0;
  }

  &__row {
    &:hover {
      .history-item__menu {
        width: 70px;
        margin-left: 30px;
        display: flex;
      }
    }
    .history-item__menu {
      transition: width 0.1s ease;
      -webkit-transition: width 0.1s ease;
      width: 0;
      overflow: hidden;
      display: none;
      height: 26px;
      text-align: right;
      button {
        &:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12px;
    border-bottom: 1px solid var(--color-line);
  }
  &__col {
    &-description {
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      font: var(--font-body-medium);
      span {
        &:nth-child(2) {
          margin-left: 10px;
        }
      }
    }
    &-payment {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font: var(--font-body-medium);
      &-method {
        color: var(--color-body);
      }
      &-amount {
        color: var(--color-title-active);
        font: var(--font-bold-large);
      }
    }
  }
}

@keyframes menu_slide_in {
  from {
    width: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes menu_slide_out {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@media (max-width: #{$breakpoint-tablet}) {
  .history-item {
    .history-item__menu {
      display: none;
    }
    &:hover {
      .history-item__menu {
        // display: none;
      }
    }
    &__col {
      &-description {
        font: var(--font-body-small);
        .tag {
          width: 10px;
          flex: 0 0 10px;
          height: 10px;
          content: none;
          color: transparent;
        }
      }
      &-payment {
        flex: 0 1 auto;
        font: var(--font-body-small);
        display: flex;
        flex-direction: column;
        margin-left: auto;
        &-method {
          color: var(--color-body);
        }
        &-amount {
          color: var(--color-title-active);
          font: var(--font-bold-small);
        }
      }
    }
  }
}
