.history-item {
  width: 100%;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid $color-line;
    color: $color-body;
    font: $font-bold-medium;
    b {
      color: $color-title-active;
    }
  }
  table {
    width: 100%;
  }

  &-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12px;
    border-bottom: 1px solid $color-line;
  }
  &-col {
    &-description {
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      font: $font-body-medium;
      span {
        &:nth-child(2) {
          margin-left: 10px;
        }
      }
    }
    &-payment {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font: $font-body-medium;
      &-method {
        color: $color-body;
      }
      &-amount {
        color: $color-title-active;
        font: $font-bold-large;
      }
    }
  }
}
