@import '@styles/_responsive.scss';

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px;
  background: var(--color-off-white);
  border: 1px solid var(--color-placeholder);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 76px;
  color: var(--color-title-active);
  margin: 0 auto;
  > * {
    padding: 0 24px;
    border-right: 1px solid var(--color-placeholder);
    &:nth-child(1) {
      flex: 1 1 60px;
    }
    &:nth-child(2) {
      flex: 1 1 94px;
    }
    &:nth-child(3) {
      flex: 1 1 90px;
    }
    &:nth-child(4) {
      flex: 1 1 180px;
    }
    &:nth-child(5) {
      flex: 1 1 90px;
    }
    &:nth-child(6) {
      border-right: 0;
      flex: 1 1 150px;
    }
    &:nth-child(7) {
      border-right: 0;
    }
  }
  &__toggle-btn {
    height: 100%;
    display: flex;
    button {
      padding: 8px;
      border-radius: 5px;
      margin: 2px;
      border: 2px solid var(--color-primary);
      color: var(--color-primary);
      background: var(--color-off-white);
      width: 50px;

      &.active {
        background-color: var(--color-primary);
        color: var(--color-off-white);
      }
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-off-white);
    border: 2px solid var(--color-primary);
    svg {
      path {
        stroke: var(--color-primary);
      }
    }
    &--active {
      background: var(--color-primary);
      svg {
        path {
          stroke: var(--color-off-white);
        }
      }
    }
  }

  &.modal-form {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    > * {
      flex: 1 1 100%;
      border: none;
      width: 100%;
      padding: 4px 8px;
      &:nth-child(1) {
        order: 1;
        flex: 1 1 50%;
      }
      &:nth-child(5) {
        order: 2;
        .input--prefix {
          width: 20px;
        }
        .input--suffix {
          margin: 0;
          font: var(--font-body-x-small);
        }
        flex: 1 1 50%;
      }
      &:nth-child(2) {
        order: 3;
        flex: 1 1 50%;
      }
      &:nth-child(4) {
        order: 4;
        flex: 1 1 50%;
      }
      &:nth-child(3) {
        order: 5;
      }
      @media (max-width: #{$breakpoint-mobile}) {
        &:nth-child(1) {
          order: 1;
          flex: 1 1 100%;
        }
        &:nth-child(5) {
          order: 2;
          flex: 1 1 100%;
        }
        &:nth-child(2) {
          order: 3;
          flex: 1 1 100%;
        }
        &:nth-child(4) {
          order: 4;
          flex: 1 1 100%;
        }
        &:nth-child(3) {
          order: 5;
        }
      }
      .input__wrapper,
      .dropdown__select-button {
        margin-top: 4px;
        padding: 24px 10px;
        border: 1px solid var(--color-line);
        border-radius: 10px;
      }
      .dropdown__list {
        left: 20px;
        top: 90px;
      }
    }
    .form__btn {
      display: none;
    }
  }
}

.label {
  color: var(--color-primary-dark);
  font: var(--font-bold-small);
  line-height: 17px;
}

.modal-input {
  width: 100%;
  height: 42px;
  padding: 10px;
  background-color: var(--color-background);
  border: 1px solid var(--color-line);
  border-radius: 10px;
  outline: none;
}

@media (max-width: 950px) {
  .form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    background: var(--color-off-white);
    border: 1px solid var(--color-placeholder);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: auto;
    color: var(--color-title-active);
    margin: 0 auto;
    flex-wrap: wrap;
    > * {
      padding: 0 24px;
      border-right: 1px solid var(--color-placeholder);
      &:nth-child(1) {
        flex: 1 1 33%;
      }
      &:nth-child(2) {
        flex: 1 1 33%;
      }
      &:nth-child(3) {
        flex: 1 1 33%;
        border-right: 0;
      }
      &:nth-child(4) {
        padding-left: 0;
        flex: 1 1 33%;
      }
      &:nth-child(5) {
        flex: 1 1 33%;
      }
      &:nth-child(6) {
        flex: 1 1 33%;
        border-right: 0;
        padding: 0;
        button {
          width: 30px;
          height: 30px;
          margin-top: 4px;
        }
      }
    }
  }
}
