@import '@styles/_responsive.scss';

.month-chart {
  display: flex;
  justify-content: space-between;

  &__chart {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info {
    width: 50%;

    &--title {
      font: var(--font-body-large);
      color: var(--color-title-active);
      margin-bottom: 10px;
    }

    .total-value {
      padding-left: 5px;
      font-weight: 500;
    }
  }
}

@media (max-width: #{$breakpoint-tablet-landscape}) {
  .month-chart {
    flex-direction: column;

    &__chart {
      width: 100%;
      margin-bottom: 20px;
    }

    &__info {
      width: 100%;
    }
  }
}

@media (max-width: #{$breakpoint-tablet}) {
  .month-chart {
    &__info--title {
      font: var(--font-body-medium);
    }

    canvas {
      width: 50%;
    }
  }
}

@media (max-width: #{$breakpoint-mobile}) {
  .month-chart {
    canvas {
      width: 60%;
    }
  }
}
