@import '@styles/_responsive.scss';

.history-header {
  padding: 38px 0;
  display: flex;
  justify-content: space-between;
  color: var(--color-primary-dark);
  > span {
    font: var(--font-body-large);
  }
  &__category {
    display: flex;
    align-items: center;
    label {
      &:nth-child(1) {
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 650px) {
  .history-header {
    margin-top: 20px;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--color-primary-dark);
    > span {
      width: 100%;
      font: var(--font-body-large);
    }
    &__category {
      display: flex;
      align-items: center;
      margin-top: 10px;
      label {
        &:nth-child(1) {
          margin-right: 20px;
        }
      }
    }
  }
}
