.chart-wrapper {
  background: var(--color-off-white);
  border: 1px solid #ccd3d3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 15px;
}
