.data-list {
  &__item {
    padding: 16px;
    border-bottom: 1px solid var(--color-line);

    span:nth-child(1) {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 30px;
      border-radius: 999px;
      color: var(--color-off-white);
      font: var(--font-body-medium);
    }

    span:nth-child(2) {
      margin-left: 24px;
      color: var(--color-title-active);
      font: var(--font-body-medium);
    }

    span:nth-child(3) {
      float: right;
      color: var(--color-title-active);
      font: var(--font-body-large);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-background);
    }
  }
}
