.data-list {
  &__item {
    padding: 16px;
    border-bottom: 1px solid var(--color-line);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--left {
      .tag {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 30px;
        border-radius: 999px;
        color: var(--color-off-white);
        font: var(--font-body-medium);
      }

      .pct {
        margin-left: 24px;
        color: var(--color-title-active);
        font: var(--font-body-medium);
      }
    }

    &--right {
      .value {
        float: right;
        color: var(--color-title-active);
        font: var(--font-body-large);
      }
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-background);
    }
  }
}
