@import '@styles/_responsive.scss';
@import '@styles/_animation.scss';

@include keyframe(slidein) {
  from {
    margin-left: -50%;
    width: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

.data-list {
  overflow: hidden;

  &__item {
    padding: 16px;
    border-bottom: 1px solid var(--color-line);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @for $i from 1 through 10 {
      &:nth-child(#{$i}n) {
        @include animation(slidein, #{$i * 0.3}s);
      }
    }

    &--left {
      .tag {
        display: inline-flex;
      }

      .pct {
        margin-left: 24px;
        color: var(--color-title-active);
        font: var(--font-body-medium);
      }
    }

    &--right {
      .value {
        float: right;
        color: var(--color-title-active);
        font: var(--font-body-large);
      }
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-background);
    }
  }
}

@media (min-width: #{$breakpoint-tablet-landscape + 1px}) and (max-width: #{$breakpoint-laptop}) {
  .data-list.small {
    .data-list__item {
      padding: 14px 5px;

      &--left {
        .pct {
          margin-left: 10px;
          font: var(--font-body-regular);
        }
      }

      &--right {
        .value {
          font: var(--font-body-medium);
        }
      }
    }
  }
}

@media (max-width: #{$breakpoint-tablet}) {
  .data-list {
    &__item {
      padding: 14px 5px;

      &--left {
        .pct {
          margin-left: 10px;
          font: var(--font-body-regular);
        }
      }

      &--right {
        .value {
          font: var(--font-body-medium);
        }
      }
    }
  }
}

@media (max-width: #{$breakpoint-mobile}) {
  .data-list {
    &__item {
      padding: 8px 5px;

      &--left {
        .tag {
          width: 70px;
          height: 23px;
          font: var(--font-body-x-small);
        }

        .pct {
          font: var(--font-body-small);
        }
      }

      &--right {
        .value {
          font: var(--font-body-regular);
        }
      }
    }
  }
}
