.chart-content {
  display: flex;
  justify-content: space-between;
}

.chart-content-chart {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-content-info {
  width: 50%;

  &__title {
    font: var(--font-body-large);
    color: var(--color-title-active);
    margin-bottom: 10px;
  }
}
