.chart-content {
  display: flex;
  justify-content: space-between;
}

.chart-content-chart {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-content-info {
  width: 50%;

  &__title {
    font: $font-body-large;
    color: $color-title-active;
    margin-bottom: 10px;
  }

  &__list {
    list-style: none;
    padding: 0;

    li {
      padding: 16px;
      border-bottom: 1px solid $color-line;

      span:nth-child(1) {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 30px;
        border-radius: 999px;
        color: $color-off-white;
        font: $font-body-medium;
      }

      span:nth-child(2) {
        margin-left: 24px;
        color: $color-title-active;
        font: $font-body-medium;
      }

      span:nth-child(3) {
        float: right;
        color: $color-title-active;
        font: $font-body-large;
      }

      &:hover {
        cursor: pointer;
        background-color: $color-background;
      }
    }
  }
}
