@mixin keyframe($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
  @-moz-keyframes #{$animation_name} {
    @content;
  }
  @-webkit-keyframes #{$animation_name} {
    @content;
  }
  @-o-keyframes #{$animation_name} {
    @content;
  }
}

@mixin animation($name, $duration) {
  animation: $name $duration;
  -moz-animation: $name $duration;
  -webkit-animation: $name $duration;
  -o-animation: $name $duration;
}
