@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

$font-display-small: normal 400 24px/24px 'Do Hyeon', sans-serif;
$font-display-large: normal 400 48px/56px 'Do Hyeon', sans-serif;

$font-body-regular: normal 400 16px/24px 'Noto Sans KR', sans-serif;
$font-body-medium: normal 400 18px/24px 'Noto Sans KR', sans-serif;
$font-body-large: normal 400 22px/32px 'Noto Sans KR', sans-serif;

$font-bold-small: normal 500 12px/16px 'Noto Sans KR', sans-serif;
$font-bold-medium: normal 500 14px/24px 'Noto Sans KR', sans-serif;
$font-bold-large: normal 500 18px/24px 'Noto Sans KR', sans-serif;
